.board {
  display: grid;
  grid-template-columns: repeat(3, 80px);
  gap: 5px;
  margin: 20px 0;
}

.square {
  width: 80px;
  height: 80px;
  font-size: 2rem;
  cursor: pointer;
}

.square.highlight {
  background-color: yellow;
}